* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu a {
    color: white;
    background: #9EA700;
    display: block;
    height: 64px;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}

.menu a:hover {
    background: #00B2CD;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    width: 100%;
    text-align: center;
    position: relative;
}

.menu li:hover li {
    background-color: red;
    display: block;
    top: 0px;
}

.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 33.34% 33.34% 33.34%;
    grid-template-areas:
    "title title title"
    "menu menu menu"
    "tree tree tree"
    "ad1 ad1 ad3"
    "ad2 ad2 ad3"
    "footer footer footer"
}

.header {
  /* margin-top: */
  grid-area: title;
}

.menu {
  grid-area: menu;
  margin-bottom: 1%;
}

.photo {
  grid-area: photo;
}
.tree {
  grid-area: tree;
  margin-left: 13.25%;
}
.ad1 {
  grid-area: ad1;
  margin:5%;
  margin-top: 1%;
  margin-left: 20%;

}

.ad2 {
  margin: 5%;
  margin-bottom: 20%;
  margin-left: 20%;
  grid-area: ad2;
}
.ad3 {
  grid-area: ad3;
}


.footer {
  grid-area: footer;
  padding: 20px;
  background-color: #003366;
  color: white;
}

li a {
  color: white;

}

.column {
  float: left;
  width: 33.33%;
}

ul {
  list-style-type: none;
}
#picture1 {
  background-image: url(../images/hhs1.jpg);
  height: auto;
  padding: 0;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.85;
  border-width: none;
  border-style: none;
}
.slogan {
  color: #003366;
  font-size: 50px;
  margin-top: 50%;
  margin-left: 28%;
}
.linkbasic {
  text-decoration: none;
}
h3,.h3{
  color:#9EA700;
}
input {
  padding: 4px;
}
.tak{
  text-decoration: none;
  color: black;
}
